<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Si-Lang</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='img/Logo Learn Silang.png')}}" alt="">
    </nav>
    <div class="main">
        <img src="{{ url_for('static', filename='img/leaf1.png')}}" alt="">
        <img src="{{ url_for('static', filename='img/leaf2.png')}}" alt="">
        <div class="side-text">
            <img src="{{ url_for('static', filename='img/paper plane.png')}}" alt="">
            <div class="content-text">
                <h1>Belajar <span>bahasa isyarat</span> dengan mudah dan menyenangkan</h1>
                <a href="menus.html">Mulai Sekarang</a>
            </div>
        </div>
        <div class="side-img">
            <img src="{{ url_for('static', filename='img/character.png')}}" alt="">
        </div>
    </div>
    <div class="how-to">
        <h1>Cara menggunakan platform Si-Lang</h1>
        <div class="step">
            <img src="{{ url_for('static', filename='img/step1.png')}}" alt="">
            <div class="step-text">
                <h1>Buka <span>Browser</span> Anda</h1>
                <span>Ketikkan learnsilang.com pada url di browser.</span>
            </div>
        </div>
        <div class="step2">
            <img src="{{ url_for('static', filename='img/step2.png')}}" alt="">
            <div class="step-text">
                <h1>Klik tombol <span>Mulai Sekarang</span></h1>
                <span>Setelah mengklik tombol akan diarahkan ke halaman baru untuk memulai belajar bahasa isyarat.</span>
            </div>
        </div>
        <div class="step">
            <img src="{{ url_for('static', filename='img/step3.png')}}" alt="">
            <div class="step-text">
                <h1>Pilih <span>menu pembelajaran</span></h1>
                <span>Pilih menu pembelajaran yang ingin dipelajari diantaranya yaitu Alphabet, Angka, Warna, Buah, Kendaraan, dan Hewan.</span>
            </div>
        </div>
        <div class="step2">
            <img src="{{ url_for('static', filename='img/step4.png')}}" alt="">
            <div class="step-text">
                <h1>Mulai belajar <span>bahasa isyarat</span></h1>
                <span>Kamera akan aktif dan Anda bisa memulai belajar bahasa isyarat sesuai dengan arahan pada indikator yang ada.</span>
            </div>
        </div>
    </div>
</body>
</html>